.orders {
    background-color: white;
    margin: 50px;
    padding: 10px;
}

.my-cart {
    padding-bottom: 45px;

}

.product-info,
.tag {
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    align-items: center;
    justify-items: center;
    padding: 25px;
    font-weight: bold;
    font-size: 1.2em;
}

.total {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    gap: 10px;
}

.total img {
    width: 30px;
}

.container-products {
    border: 1px solid #999
}

.title-description,
.individual-price,
.product-img {
    grid-row: 1;
}

.title-description {
    grid-column: 2;
    text-align: center;

}

.individual-price {
    display: flex;
    width: 100%;
    align-self: center;
    grid-column: 4;
    align-items: center;
    justify-content: center;
}

#quantity {
    grid-column: 3;

}

.quantity_cart {
    width: 100px;
    height: 50px;
    text-align: center;
    font-size: large;
}

.product-img {
    height: 200px;
    /* width: 14vw; */
    image-rendering: pixelated;
    /* padding: 25px; */
}