.container {
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
    justify-content: center;

}

.item {
    font-size: 1.3rem;
    width: 250px;
    border-radius: 14px;
    background-color: rgba(209, 209, 209, 0.6);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    margin: 25px;

}

.gold-icon {
    width: 20px;
    margin-left: 5px;
}

.item:hover {
    background-color: rgba(209, 209, 209, 0.8);
}

.item-img {
    height: 25vh;
    image-rendering: pixelated;
    padding: 15px;
    object-fit: contain;

}

.price-name {
    border: solid 2px black;
    border-radius: 25px;
    margin: 6px;
    padding: 7px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.price-name h4 {
    width: 100%;
}